/* --------CSS Reset---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro", sans-serif;
}
:root {
  font-size: 62.5%;
  /*------- Colors --------- */
  --bg-visibility: rgba(248, 242, 234, 0.698);
  --p-color-1: #363636;
  --p-color-hover1: rgba(225, 225, 225, 0.81);
  --p-color-2: #4f8ac0;
  --p-color-3: #0369c9;
  --p-color-4: #53d7ff;
  --p-color-5: #002958;
  --p-color-wh: #ffff;
}

/* -----body ------ */
/* HEADER */
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--p-color-5);
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 1.5rem;
  color: var(--p-color-1);
  text-decoration: none;
  font-weight: 800;
}
/*Header- Navbar */
.navbar a {
  font-size: 1.1rem;
  color: var(--p-color-wh);
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  /* Navbar-Animation---------- */
  transition: 0.3s;
  &:hover {
    color: var(--p-color-4);
  }
}
.navbar a.always-on {
  color: var(--p-color-4);
}

/* ------Main----- */
.welcome {
  height: 100vh;
  background: linear-gradient(
    -90deg,
    var(--p-color-5) 65%,
    var(--p-color-wh) 35%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.welcome-content {
  max-width: 600px;
  color: var(--p-color-wh);
  text-align: right;
}
.welcome-content h1 {
  font-size: 3rem;
  line-height: 1.2;
}
.welcome-content h2 {
  font-size: 1.8rem;
  color: var(--p-color-4);
  -webkit-text-stroke: 0.5px var(--p-color-wh);
}
.welcome-content p {
  font-size: 1.2rem;
  margin-top: 20px;
}
/* Welcome Icons */
.welcome-social {
  margin: 25px 0 40px;
}
.welcome-social a[target="_blank"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--p-color-4);
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--p-color-4);
  text-decoration: none;
  margin-left: 12px;
  /* Hover-Animation----------- */
  transition: 0.5s;
  &:hover {
    background-color: var(--p-color-4);
    color: var(--p-color-wh);
    border-color: var(--p-color-wh);
  }
}
/* Welcome-Img */
.welcome-img {
  width: 500px;
  height: 200px;
  background: var(--p-color-2);
}
