/* --------CSS Reset---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  /*------- Colors --------- */
  --bg-visibility: rgba(248, 242, 234, 0.698);
  --p-color-1: #363636;
  --p-color-hover1: rgba(225, 225, 225, 0.81);
  --p-color-2: #4f8ac0;
  --p-color-3: #0369c9;
  --p-color-4: #53d7ff;
  --p-color-5: #002958;
  --p-color-wh: #ffff;
}

/* -----body ------ */
/* HEADER */
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--p-color-3);
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 1.5rem;
  color: var(--p-color-1);
  text-decoration: none;
  font-weight: 800;
}
/*Header- Navbar */
.navbar a {
  font-size: 1.1rem;
  color: var(--p-color-wh);
  text-decoration: none;
  font-weight: 600;
  margin-left: 35px;
  transition: 0.3s;
  &:hover {
    color: var(--p-color-4);
  }
}
